[2019-06-26 16:46] goatchurchprime opened #1 "Needs to have a database in the influxdb at the start"
Needed to run this on my local PC connected to the access point.

[code]

[2019-06-26 16:46] goatchurchprime opened #2 "SSH missing"
Can't login and fix things (like time)

[2019-06-26 16:47] goatchurchprime commented on #2
Alex has ordered this: https://www.amazon.co.uk/DS3231-RTC-MODULE-RASPBERRY-PI/dp/B01I1I8HY8

Though there still needs to be a provision to set the time initially.

[2019-06-26 16:49] goatchurchprime commented on #1
Also would need to document the prefered:

Username/password for the Grafana login
Username/password for the InfluxDB database
Username/password for the Nodered flow control

Username/password for the SSH of the device

These are all easy to get confused between, esp the Grafana and InfluxDB which almost seem like the same thing.

[2019-06-26 16:51] goatchurchprime opened #3 "Nodered should have the nodered dashboards set up"
I don't know why these aren't default part of the installation.  Gives the ability to make buttons and dials (which the Grafana is no good at).

[2019-06-26 16:53] ajlennon opened #4 "When running in AP mode the time is incorrect"

[2019-07-04 19:26] ajlennon commented on #4
Currently we have support for an I2C battery backed RTC device to deal with this issue.

Code looks like it still needs to be committed

[2019-07-04 19:27] ajlennon commented on #3
What's missing and what needs doing ?

[2019-07-04 19:28] ajlennon commented on #4
Quoting gtp "Alex has ordered this: https://www.amazon.co.uk/DS3231-RTC-MODULE-RASPBERRY-PI/dp/B01I1I8HY8 Though there still needs to be a provision to set the time initially."

[2019-07-04 19:29] ajlennon commented on #2
Well SSH is enabled or disabled based on the root image download. So if we use a standard RPIv3 DEBUG image from Balena it will be enabled.

[2019-07-04 19:30] ajlennon commented on #1
OK - seems like this could be run in the grafana container build process ?

[2019-09-13 11:58] MatthewCroughan commented on #2
The idea is that you don't need to SSH into the box, and as such it is disabled for security reasons like an appliance would be. The setup is as if it were an appliance, what is it exactly that you needed SSH for? @goatchurchprime

[2019-09-13 11:59] MatthewCroughan commented on #4
@ajlennon What needs to be done in order to apply this?

[2019-09-13 12:08] MatthewCroughan commented on #3
@goatchurchprime Have you got a list of the things you want?

@ajlennon  Perhaps we could have a list of modules to be installed in the balena build available in the repo so we can then `COPY` it in via the Dockerfile.

[2019-09-13 14:52] ajlennon commented on #4
We either have to add an I2C RTC device onto every board or to find a way to use an NTP client to grab the time from the Internet on startup.

[2019-09-13 17:15] MatthewCroughan commented on #3
When I say a list, I mean a list that we install via `npm install -g`, not something that is static.

[2019-09-13 17:19] MatthewCroughan commented on #4
@goatchurchprime Julian has suggested a few methods of getting time. One method he suggested included having time emitted as mqtt messages from some device that has an RTC. You could then add nodes as ENV variables in balena by using either their expected IP or hostname.

[2019-09-16 09:40] ajlennon commented on #4
Yeah not a bad idea but it adds a dependency on another device which I'd rather not have. If we had to have a dependency I'd rather have one on an internal I2C RTC

[2019-09-16 10:30] MatthewCroughan commented on #4
@ajlennon Why not both? More sources of time the better, like /dev/random gets its randomness from every place it can, this is like /dev/time.

[2019-09-17 09:52] ajlennon commented on #4
Mmm. Not really. Time is a problem. Which time source is preferable?

A local I2C RTC time source is probably accurate to a minute a month so needs to be regularly updated with a more accurate time source which would be GPS or network time...

[2019-09-26 13:48] goatchurchprime opened #5 "Disable wifi when connected by ethernet"
At the moment we are getting 2 IP numbers for the device because it's going both routes.

Prefer only one, and the ethernet when wired as we think it would have lower latency.

this should be something each device checks intermittently, along with sending its ip and mac address. it should send to a channel it is subscribed to and then send a message again to report the round trip time.

[2019-10-13 18:08] ajlennon commented on #3
This is now setup by default

[2019-10-13 18:08] #3 closed

[2019-10-13 18:09] ajlennon commented on #4
Currently not intending to run in AP mode so closing this

[2019-10-13 18:09] #4 closed

[2019-10-13 18:13] ajlennon commented on #2
There are two types of image  you can use with Balena - Prod and Dev.

If you use a Dev image then there is open access for root via SSH on port 22222

e.g. `ssh root@e844144.local -p 22222`

If you use a Prod image then by design there is no access locally via SSH although you can access the device via SSH proxied through the Balena Server

[2019-10-13 18:13] #2 closed

[2019-10-13 18:20] ajlennon commented on #1
You can use the InfluxDB API to do what you need, including creating databases e.g.

`curl 'http://e844144.local:8086/query' --data-urlencode "q=CREATE DATABASE mydb"`

[2019-10-13 18:20] #1 closed

[2019-10-13 18:23] ajlennon commented on #5
For now on the host OS image if you want to disable the WiFI then edit files in the /boot partition (which can be seen as a FAT partition on a Windows PC too)

`$ mv /mnt/boot/system-connections/resin-wifi-01 /mnt/boot/system-connections/resin-wifi-01.ignore`

This will disable the WiFi connection enabling you to use Ethernet reliably

[2019-10-13 18:23] #5 closed

[2019-11-09 02:13] MatthewCroughan opened #6 "Have MING pull from project-maintained dockerfiles"
Currently we maintain our own dockerfiles which is non-standard and less ideal for a standardized setup. We should see how pulling from dockerhub for these applications goes and try and make them work well together. I think we can offer more value this way anyway, as it would shift the aims of the project towards making this stack work well and alleviate the need for us to maintain the even nittie

[2019-11-09 02:17] MatthewCroughan commented on #6
I currently don't have push access for whatever reason, so I'm going to work on this in my own fork then submit a PR.

[2019-11-09 02:19] MatthewCroughan opened #7 "Support OrangePi-Zero"
I think this is a really capable board that needs some love, and I'm setting up MING at home so I want to give this a go. Will work on this in my own branch of my own fork until I get push access.

The branch format I'm following is one that Adrian McEwen taught me which is [issuenumber]-[issue], so in this case the branch will be called `7-support-opizero`

[2019-11-09 02:27] MatthewCroughan commented on #6
An interesting thing to note is that there are documentation benefits to be had, since this docker image has documentation we can link to/clone/symlink/alias here on github. https://hub.docker.com/_/eclipse-mosquitto

[2019-11-09 02:42] MatthewCroughan commented on #6
You can use env variables to assert configuration in docker-compose and grafana. So instead of copying in the grafana.ini you can have envvars.

[code]

This would become:

[code]
for example. This follows the format. `GF_<SectionName>_<KeyName>`
https://grafana.com/docs/installation/configuration/

[2019-11-09 03:36] MatthewCroughan commented on #6
After testing a build derived from dockerhub images the total image size is 648.37MB

![image](https://user-images.githubusercontent.com/26458780/68522322-03cdd500-02a2-11ea-933c-e2e2e617b5c6.png)

[2019-11-10 00:02] MatthewCroughan commented on #6
The functionality described earlier relating to INCLUDES can be and often is accomplished by using dockerfiles in the build directories for your applications.

I found this out here
https://forums.balena.io/t/magicmirror-issues-with-bind-mounts/5644/4

In our case it would be:

[code]

in which case grafana essentially becomes an INCLUDE

https://docs.docker.com/compose/compose-file/compose-file-v

[2019-11-10 01:09] MatthewCroughan commented on #6
This is a good reference for provisioning datasources in Grafana.
https://github.com/grafana/grafana/blob/master/devenv/datasources.yaml

[2019-11-10 04:33] MatthewCroughan commented on #6
I ran into a massive issue relating to the balena build system not supporting architecture manifests. I've figured it out, my adventure is logged here

https://forums.balena.io/t/balena-cloud-cli-builder-is-still-not-able-to-interpret-image-manifests/43203/3

It is not stated anywhere in the dockerfile documentation that it is possible to use --platform in the `FROM` directive. But you can. I glea

[2019-11-11 01:05] MatthewCroughan commented on #7
https://github.com/DynamicDevices/ming/pull/8 happens to solve this, as the project maintained dockerfiles end up supporting the Orange Pi Zero indirectly, no additional steps are required, as this has been my dev-box for this PR, so I know it works well.

[2019-11-11 03:11] MatthewCroughan opened #9 "Add jupyter-lab support"
I'm in the process now of doing this on my fork, once done I'll submit a PR.

[2019-11-11 10:14] #7 closed

[2019-11-11 18:57] MatthewCroughan commented on #6
Even though there is an outstanding usability issue in Balena relating to a bunch of things that can be followed by the references injected here, this issue is resolved since the title has been completed.

[2019-11-11 18:57] #6 closed

[2019-11-11 21:58] MatthewCroughan commented on #9
I'm currently having trouble with password management in Jupyter which this stackoverflow has useful discussion on.

https://stackoverflow.com/questions/47092878/auto-configure-jupyter-password-from-command-line

[2019-11-11 22:31] MatthewCroughan commented on #9
Taken from https://github.com/SilvesterHsu/jupyterlab
We may at some stage wish to implement a bunch of optional extensions, but for now I'm having too much trouble with them to bother, since they all have their own chains of deps.
[code]

[2019-11-11 23:34] MatthewCroughan commented on #9
I've resolved an issue I encountered regarding conditionals based on environment variables. We're going to have to use a start.sh or entry.sh convention to solve it.

https://forums.balena.io/t/can-docker-compose-variables-be-informed-by-service-device-variables-what-about-default-variables/43200/19

TL;DR I wanted a default value to be accepted for the password that Jupyter uses on launch, but al

[2019-11-12 00:01] MatthewCroughan commented on #9
This can be closed once https://github.com/DynamicDevices/ming/pull/10 is merged.

[2019-11-12 02:26] MatthewCroughan opened #11 "Add mDNS support per container"
Each container should either run mDNS via the Avahi-Daemon, or should at the very least have some manner of having mDNS redirected to it. The latter solution does not yet exist, but is something I could potentially write in Python after a bit of reading.  My idea for that is that there should be a sort of broker that sits between the applications on the hypervisor that will take all of the contain

[2019-11-12 07:03] MatthewCroughan commented on #11
This may not happen so smoothly for a multitude of reasons.

There is no clear method of doing this, and running an avahi-daemon inside every container is no longer supported and is outright unsupported/removed as functionality since 2016.

Avahi now runs on the host os and communicates to guests via Dbus. Though I have been unsuccessful in getting any of the containers pingable at the requested h

[2019-11-12 10:27] ajlennon commented on #11
There's already some kind of internal host name mapping which is how containers communicate with each other. Have you looked at this?

There's also a Balena example of how to enable mDNS for containers ?

https://github.com/balena-io-playground/balena-mdns-service

[2019-11-12 10:32] MatthewCroughan commented on #11
@ajlennon I linked to that github page already, it reads:
"Important: this will only work with resinOS 1.x devices! On resinOS 2.x the system comes with Avahi,"

So this is no longer functional, as I've tested and noted.

[2019-11-12 10:40] MatthewCroughan commented on #11
This seems to be the go-to utility. But it breaks using alpine since it relies on systemd, so it's very annoying.
https://github.com/balena-io/balena-mdns-publisher, anything that requires this much overhead is way too much for me, when all that should be required for our use is either that dbus script and-or the successor to the project you linked (https://github.com/balena-io-playground/balena-a

[2019-11-12 10:48] MatthewCroughan opened #12 "Add Wifi-Hotspot support"
I'm working on this now in my fork, I'm basing it on https://github.com/balena-io/wifi-connect.

[2019-11-12 10:51] ajlennon commented on #12
Take a look at the MakeSpaceLive stuff. I had support for this in there. Also Adrian has worked with this. One problem that needs addressing is it sometimes fails to connect on startup and drops into AP mode which is not the behaviour we want

[2019-11-12 10:57] MatthewCroughan commented on #12
@ajlennon Well for what we want, the whole behavior is not ideal anyway. What we want is to be able to connect it and disconnect it, currently if we were to connect it to the wifi we'd have no way of disconnecting it again easily. Maybe we can have a service variable that wipes the list of wifi credentials in order to drop it into AP mode again.

This is mostly to satisfy Julian's need of it being

[2019-11-12 10:59] MatthewCroughan commented on #12
On the topic of portable travel routers.. This could be an option to make one for SUPER cheap.. around £15~

![image](https://user-images.githubusercontent.com/26458780/68666244-76a5ad00-053b-11ea-81ff-1482866eacc6.png)

Two ETH ports a router does make :)

[2019-11-12 11:22] ajlennon commented on #12
Nice. I remain  very unconvinced though that we can run a Pi as an AP and have a lot of sensors connected...

[2019-11-12 11:22] ajlennon commented on #12
Like those. Are those Atheros chips dual band ?

[2019-11-13 01:32] MatthewCroughan commented on #12
Done in https://github.com/DynamicDevices/ming/pull/13.

@ajlennon as for the question about the chips being dual band, they aren't, but you can get variants like that, more expensive obviously. I think these would be a great start.

[2019-11-13 10:12] ajlennon commented on #12
This is a variant of the GL-AR750 which we were using to begin with for the WiFi security project!

[2019-11-13 10:14] MatthewCroughan commented on #12
@ajlennon So you have a few lying around then? Would love to try them out.

[2019-11-13 10:14] ajlennon commented on #12
I might do actually! Will take a look around

[2019-11-18 20:57] MatthewCroughan commented on #11
It seems that when we use Wifi-Connect on BalenaOS 2.44+ on a Pi3, all requests for any hostname are redirected to 192.168.42.1

As weird as this is, it somewhat solves the issue we're having temporarily. `ping mqtt.local` will go right to 192.168.42.1, which is actually what we want. `ping ahgdwayg` will also be redirected to 192.168.42.1, which is strange but irrelevant.

[2019-12-03 10:46] ajlennon commented on #12
Merged the PR

[2019-12-03 10:46] #12 closed

[2019-12-03 10:46] ajlennon commented on #9
Merged the PR

[2019-12-03 10:46] #9 closed

[2019-12-03 10:49] MatthewCroughan commented on #11
It might be wise to simply have the whole device pingable at `ming.local`. This will save us from worrying about the per-container mDNS for now, whilst giving us a non-random usable hostname. @ajlennon I've read https://www.balena.io/docs/reference/OS/network/2.x/#setting-a-static-ip

After reading this, it implies we need to modify the sd card's boot partition to do any of this, is this true? Can

[2019-12-03 10:57] ajlennon commented on #11
There's an API to modify the hostname yes. All a bit of a faff. I did a post on this -

https://forums.balena.io/t/a-hack-to-change-the-device-hostname/6195

[2019-12-04 17:19] MatthewCroughan opened #14 "Grafana config is not properly persistent"
For some reason all of its data isn't stored in /data, just noting this down so I can fix it later.

[2019-12-19 03:28] MatthewCroughan opened #16 "Support docker-compose as well as balena"
This is simply done, for now. All we need to do is maintain a version of the .template that removes explicit references to --platform. The only reason we need --platform in the FROM directive like this:

`FROM --platform=linux/arm grafana/grafana:master`

Is because of this issue https://github.com/balena-io/balena-cli/issues/1508
https://forums.balena.io/t/balena-cloud-cli-builder-is-still-not-ab

[2019-12-19 03:29] MatthewCroughan commented on #16
Also @ajlennon if you give me access to push to this repo at some point, I can reference issues inside of the commit message, which will show up the same way that cross-issue referencing does.

[2019-12-19 03:30] MatthewCroughan opened #17 "Give me push access."
Once I have push access, I can reference issues in commits, like I'm about to demonstrate.

https://github.com/DynamicDevices/ming/issues/16

[2019-12-19 03:30] MatthewCroughan commented on #17
https://github.com/DynamicDevices/ming/issues/16

[2019-12-19 11:47] ajlennon commented on #17
Yup. How do we do that then?

[2019-12-19 11:48] ajlennon commented on #17
I'm almost certain you can reference issues in commits without push access too ?

[2019-12-19 13:29] #16 closed

[2019-12-19 13:34] MatthewCroughan commented on #17
Does indeed work.

[2019-12-19 13:34] #17 closed

[2019-12-31 09:32] ajlennon opened #20 "Enable Mosquitto websockets by default"
eg

https://blog.ithasu.org/2016/05/enabling-and-using-websockets-on-mosquitto/

[2019-12-31 09:38] ajlennon commented on #20
Fancy a go @MatthewCroughan ?

[2019-12-31 13:17] MatthewCroughan commented on #20
Are there any security implications? Is there a reason mosquitto doesn't enable it by default anyway @ajlennon ?

[2019-12-31 15:33] ajlennon commented on #20
Good questions.

[2019-12-31 16:16] MatthewCroughan commented on #20
I think I'll look around and put that in the PR and discuss what I find regarding security, maybe enable it depending on env vars.

[2020-01-01 14:22] ajlennon commented on #20
Response from Roger Light (Mosquitto creator)

"Security is much the same as for normal MQTT. Biggest difference is probably in keeping your credentials secret if you're using it as a web interface."

[2020-01-01 17:02] ajlennon opened #21 "Dockerfile.template forces platform to be arm for build"
This should be determined by the build platform type

[2020-01-01 17:05] #21 closed

[2020-01-01 18:10] MatthewCroughan commented on #14
The reason for this is that `/var/lib/grafana/grafana.db` container *everything* relating to Grafana, so the application is inherently stateful. This includes dashboards, database configuration and more. We can only set this up during the first runtime, anything included in /etc/provisioning at runtime will be built into grafana.db, but this would require us *every single time* we build the contai

[2020-01-01 18:44] #20 closed

[2020-01-08 11:25] MatthewCroughan opened #22 "TICK apps use /var/lib not /data"
Just thought I'd note this so I can change it such that influxdb's volume uses /var/lib/influxdb for example, rather than the irrelevant /data.

[2020-01-08 20:24] ajlennon opened #23 "Add influxdb node support back into node-red by default"

[2020-01-22 20:56] MatthewCroughan commented on #6
@richbayliss I was kind of new to Balena during this time, so ignore inadequacies in my terminology. This issue kind of documents how I ran into the issue and links to the forum thread I made on it. That forum thread references other forum threads.

[2020-01-22 22:06] MatthewCroughan commented on #6
@wrboyce

[2020-02-05 18:04] MatthewCroughan opened #24 "Can't use %%BALENA_ARCH%% to inform --platform in FROM directive in Dockerfiles"
Simply put, the docker hub wants `armv7` but the variable `%%BALENA_ARCH%%` returns `armv7hf`. Without specifying a build arg via the Balena CLI, this isn't possible to change. This is useless considering the templating language already kind of implements what we would be doing with the balena cli, allowing us to make Dockerfile.raspberrypi3 and being able to specify `--platform=linux/armv7` in it

[2020-02-05 22:03] goatchurchprime opened #25 "Only partially working out of the box on my ubuntu laptop"
Cloned the repo, disabled any services attaching to the ports 1880, 1883 and 3000, then:

Do this with conda activated

*big install*

MQTT works (with these commands in different windows):

Node-RED now appears to work:

You need to use "mosquitto" as the broker, not localhost.

The influxDB node is missing, so I can't make database data.

Jupyter also didn't come live for a while on http://local

[2020-02-05 22:05] MatthewCroughan commented on #25
This was due to Julian being on an older version of docker (docker 17.03), not much could really be done. It might be worth putting some prerequisite dependencies in the Readme, such as what docker version should be in use and a link to how to install Docker.

[2020-02-06 09:21] ajlennon commented on #25
@goatchurchprime can you retest this with whatever Docker version @MatthewCroughan says you need?

[2020-02-06 10:21] MatthewCroughan commented on #25
@ajlennon we already went through this in telegram, I had him uninstall all old versions of Docker then run https://get.docker.com/.

Should mark this issue as resolved once we document this in the README.

[2020-02-06 10:22] ajlennon commented on #25
There are a bunch of other issues up there about things that need to be installed by default (like the InfluxDB nodes)

[2020-02-06 12:02] goatchurchprime commented on #25
Things are getting close for an amazing package that knocks people out.  I'm looking for an instant installation of the full stack pre-loaded with all the tools on the go.  There may be multiple installs of the MING stack on personal computers, that can push data around via mosquitto brokers, until it's understood that one should do it with one lab install (properly backed up) that everyone connec

[2020-02-06 12:21] ajlennon commented on #25
Yeah agreed. There's a bunch of stuff that should be installed out of the box on node-red

[2020-02-06 13:06] MatthewCroughan commented on #25
@ajlennon I disagree, it should be an optional or build argument, it should be a feature that can be activated at build time, but why would we install things by default for the user rather than letting them import their own stuff?

[2020-02-06 13:07] MatthewCroughan commented on #25
We could also make a different project that uses this project as a submodule, MING being a layer that is pulled in that adds all of these extraneous things.

[2020-02-06 13:12] MatthewCroughan commented on #25
Additionally, Jupyterlab is based on a balena image, so I'm really not sure how that's going to work on a generic system, will look into getting this working.

[2020-02-06 13:17] MatthewCroughan commented on #25
@goatchurchprime What you're looking for is not to modify the base image of MING so that everyone in the world ends up with a bunch of lab software in their MING install, but to fork MING and use it as a base to make your own embedded package that can be installed for your own needs, with your own extra software, which is what this is all about. I'll help you out with this in person tonight and sh

[2020-02-06 13:21] MatthewCroughan commented on #25
The instructions you have provided are more than enough to get on with this, so I'll help you out with it and translate those instructions into a dockerfile in a fork of MING and show you what I mean by all of this.

[2020-02-06 13:26] MatthewCroughan commented on #25
This should boot up with one default database in it. The http://localhost:8086 link, which is supposed to be a dashboard for it, gets 404 page not found. I don't have the command line login to work it. See Jupyter section for how I added a database.

The default database name is `ming_default` which is specified in the docker-compose file:
https://github.com/DynamicDevices/ming/blob/4c77867e654a5b

[2020-02-06 14:22] ajlennon commented on #25
The value of Docker / MING is that users can get going immediately without faffing about or having to understand what to configure or turn on or which buttons to push.

I see no downside in activities that people are likely to want to undertake (e.g. using serial ports) having support installed and ready to go...

[2020-02-06 14:23] ajlennon commented on #25
Not at all keen on forking MING. There's no downside to having all this installed and ready to go in the standard build

[2020-02-06 15:38] goatchurchprime commented on #25
In Node-RED set the Influx node to: influxdb:8086, database: ming_default

In Grafana we need a standardized password.  And then to be provisioned with a link to the ming_default database.  Then it needs a panel view into the

Use as a function to seed the database with:
   Math.sin(Math.PI*2*(((new Date()).getTime()%60000)/60000) + 1 + Math.random()*0.2;

May seed with two functions to show how v

[2020-02-06 15:40] ajlennon commented on #25
Why not? Have you tried `apt-get update` first?

[2020-02-06 15:42] ajlennon commented on #25
@goatchurchprime the hostname to use for servers is the name of the container (as you say above) rather than localhost. This is correct behaviour and should probably be written down somewhere

[2020-02-06 16:50] goatchurchprime commented on #25
When we get some of these issues sorted out, I'll start a habit of building it up from scratch and tearing it down on different computers to prove it works.

To make these tests easier, we need to provision it with some exemplar node-red flows and dashboards to make these tests quicker.  Just try it out like this way for a while with the whole kitchen sink.

Then if it doesn't feel right we can fo

[2020-02-06 17:39] MatthewCroughan commented on #25
I am thinking now that the addition of obvious things like the influxdb node in Node-Red since we provide an InfluxDB container so it should be there by default.

But there are obvious things that should not be included by default because they have not much to do with the stack as a whole and just add a whole new level of complexity to maintaining MING.

For example, when working on https://gitlab

[2020-02-06 17:42] MatthewCroughan commented on #25
The only container in use that is based on Debian is Jupyter. And as mentioned by Alex, you do need to run `apt update` the first time the container is ran before you can use apt.

[2020-02-06 17:52] MatthewCroughan commented on #25
They're volumes. Volumes have Docker documentation, https://docs.docker.com/storage/volumes/.

They're in /var/lib/docker/volumes with their relevant names as specified in the docker-compose.yml.
https://github.com/DynamicDevices/ming/blob/4c77867e654a5bb35ee6d450e5d0c6d5ca3fa8b8/docker-compose.yml#L2-L6

[2020-02-06 18:30] ajlennon commented on #25
Agreed. It's finding the line.

Agreed.

Yes. Agreed.

Agreed. We need to consider the downside of installing extra nodes. In general I would say there is very little downside to adding functionality to node-red

Yes that would be excellent

Ta!

[2020-02-06 19:04] goatchurchprime commented on #25
I can see the file systems.  It's fairly obscure and su protected, here:

sudo ls /var/lib/docker/volumes/ming_jupyterlab-data/_data

To get into the jupyter image to add new stuff when you don't have root access:
* docker exec -u 0 -it ming_jupyterlab_1 bash
You can then set the su password with "passwd"

We might want both "jupyter notebook" and "jupyter lab" running.

The latter is the up to da

[2020-02-06 19:13] ajlennon commented on #25
I'm fixing meta-mono at the moment but intending to sort out sudo access for you in the Jupyter container

[2020-02-06 19:20] ajlennon commented on #25
@goatchurchprime  What are you doing to run MING locally on your laptop? (command lines please?)

[2020-02-06 21:00] MatthewCroughan commented on #25
@ajlennon Why is sudo necessary inside the container?

[2020-02-06 21:10] MatthewCroughan commented on #25
Also if we're going to make changes like this, it makes sense at this point to have a development branch, which now that I have commit access is where I'll be putting my changes.

[2020-02-06 21:15] ajlennon commented on #25
@goatchurchprime wants to be able to add things into the container

[2020-02-06 21:44] ajlennon commented on #25
I've added sudo support to the Jupyter container @goatchurchprime in #26

![image](https://user-images.githubusercontent.com/1537834/73981280-d4bf1200-4929-11ea-826b-df0e01923bdb.png)

[2020-02-06 21:54] ajlennon commented on #25
OK you've got the node-red influxdb and serial nodes now by default #27

![image](https://user-images.githubusercontent.com/1537834/73981792-f240ab80-492a-11ea-855e-311ed2aa40db.png)

![image](https://user-images.githubusercontent.com/1537834/73981835-05ec1200-492b-11ea-8847-3b49a8cd1cb4.png)

[2020-02-06 21:59] ajlennon commented on #25
And the dashboard in #28

![image](https://user-images.githubusercontent.com/1537834/73982273-d7226b80-492b-11ea-8247-65715b7a8b70.png)

[2020-02-06 22:00] ajlennon commented on #25
@goatchurchprime  Probably need to look at giving node-red access to the underlying serial devices as we discussed over lunch.

[2020-02-06 22:06] MatthewCroughan commented on #25
@ajlennon You should just be able to make the container privileged and it'll have hardware access. Alternatively you can specify devices in the docker-compose file like so https://docs.docker.com/compose/compose-file/#devices

[2020-02-06 22:06] ajlennon commented on #25
We really need to try hard to avoid granting privileged access. The problem we have is with hot-pluggable devices.

[2020-02-06 22:08] MatthewCroughan commented on #25
@ajlennon There is no way to do this easily otherwise. Is it really that hard to add it to the file specifically when needed? That's why I'm saying we cannot make something that is one-size fits all, there needs to be a bit of manual intervention here.

E.g make JupyterLabs privileged and accessible locally when needed.

[2020-02-06 22:11] MatthewCroughan commented on #25
The way Balena handles hot-plugged devices relates strongly to the base image, where they run udevadm and communicate between the host's udevd. This might be something we can add and run to each image, I have done this in OctoBalena. https://github.com/MatthewCroughan/octobalena/commit/f603b671478eeacc9010e8869159eb6d7083a944

See this for more details:
https://www.balena.io/docs/reference/base-im

[2020-02-06 22:11] ajlennon commented on #25
We may have to but I'd like to make sure there's absolutely no other alternative if we did as it's a security concern.

[2020-02-06 22:13] MatthewCroughan commented on #25
It is not a security concern if it's ran on the localhost only.  How could it possibly be? If you're the only one who can access it? Windows Explorer can do more damage..?

[2020-02-06 22:16] MatthewCroughan commented on #25
If you want dynamic hardware access you need udev, and that requires privilege. We can only do static hardware passthrough without privilege, as far as I have read in all the available documentation.

[2020-02-06 22:17] ajlennon commented on #25
It's a security concern.

[2020-02-06 22:19] MatthewCroughan commented on #25
@ajlennon Then running Jupyter Lab on its own without docker is a security concern? Security is already improved by running it in a container at all. We're not moving backwards by giving it privilege.

Security is not the focus of the jupyterlab container, we can't move forward and do interesting things if there is a focus on security for it. Hardware access requires privilege, and by focusing too

[2020-02-06 22:22] MatthewCroughan commented on #25
We could provide multiple compose files. One that gives hardware access and one that does not. Giving hardware access by its nature is insecure. We can't change that nature, so we shouldn't try to.

[2020-02-06 22:24] ajlennon commented on #25
Yes, we would be.

There needs to be a focus on security. Hardware access doesn't require privilege.

[2020-02-06 23:40] MatthewCroughan commented on #25
Seeing as Alex has blasted through a few of the to-do's, I'll make a list here of what's left to do:

- [ ] Add sudo to the [jupyterlab](https://github.com/DynamicDevices/ming/tree/master/jupyterlab) container #26
- [ ] Add [nodered](https://github.com/DynamicDevices/ming/tree/master/nodered) nodes for serial support and influxdb  #27
- [ ] Add [nodered](https://github.com/DynamicDevices/ming/tree

[2020-02-06 23:41] ajlennon commented on #25
We might want to use `udev` to kick off `nc` or `socat` to listen on a port when a USB device is inserted, then connect that port to the container

[code]

e.g. https://superuser.com/questions/614494/redirect-serial-com-to-tcp-port

[2020-02-06 23:53] MatthewCroughan commented on #25
Im currently working on the majority of the jupyterlab issues now, in future will make separate issues so we can use the kanban board to represent what we are working on so we don't work on the same thing, though doubt that's a risk now.

[2020-02-07 08:07] MatthewCroughan commented on #25
None of the requested Jupyter extensions build on armv7 properly:

[code]

The following error is returned:

[main]     An error occured.
[main]     RuntimeError: JupyterLab failed to build
[main]     See the log file for details:  /tmp/jupyterlab-debug-sc3jthqy.log
[main]     Removing intermediate container fbb8f9637bf8

Yes.. That's right. It generates a random filename in /tmp/ and doesn't give

[2020-02-07 09:05] MatthewCroughan commented on #25
![image](https://user-images.githubusercontent.com/26458780/74015590-d4099880-4988-11ea-9511-f7824edabad9.png)

Interestingly trying to install that manually does something weird and kills a basic jupyterlab container. I'm thinking it's running out of ram or something.

[2020-03-01 20:48] MatthewCroughan opened #29 "Have a service variable for each container's mDNS"
Each service should have a configurable mDNS hostname. For example, if the fleet variable `MDNS = 1` and `GRAFANA_MDNS_NAME = grafana` then the grafana container should broadcast on grafana.local.

[2020-03-01 20:48] MatthewCroughan commented on #29
Relates to #11

[2020-03-02 10:01] ajlennon commented on #29
ok

[2020-03-02 10:35] MatthewCroughan commented on #29
I'm working on this here too https://github.com/MatthewCroughan/octobalena/issues/3

So I'll implement it there first and then suggest changes here.

[2020-05-06 09:13] trilbytim opened #30 "Failed to build on Pi Zero W"
I attempted to load this onto a Raspberry Pi Zero W. It seemed to get almost all the way through, but in the end failed to build Mosquitto, Influx DB, Node Rod or Grafana. Only Jupyter-lab was successfully built. I've attached the terminal output below.

[MING stack install.txt](https://github.com/DynamicDevices/ming/files/4585813/MING.stack.install.txt)

[2020-05-06 09:43] ajlennon commented on #30
Very interesting - it looks like something may have gone missing upstream. I'll take a look!

[2020-05-06 12:01] MatthewCroughan commented on #30
Not all of the images that we're using support Armv6, but it should work for some of the containers, just not Grafana last I checked. The real cause of the issue I think is this commit https://github.com/DynamicDevices/ming/commit/3ee6b7cd8d38e0b3fa124439f6d2118eff8cfe4d

[My repo](https://github.com/matthewcroughan/ming/) uses`FROM --platform=linux/arm` due to the Balena cloud builder being unabl

[2020-05-06 12:09] MatthewCroughan commented on #30
Okay, that's even more hilarious. Seems Balena have started to call the `%%BALENA_ARCH%%` for the Pi 1 simply `pi`

From the log file provided:
`Error: no matching manifest for linux/rpi in the manifest list entries`

Can we please correct 3ee6b7c and get back to hardcoding this? There is no alternative, other than using BalenaOS docker base images, which defeats the whole purpose of using Docker

[2020-05-06 12:15] MatthewCroughan commented on #30
https://www.balena.io/docs/learn/develop/dockerfile/ How and why!

Device Name | BALENA_MACHINE_NAME | BALENA_ARCH |
-- | -- | -- |
Raspberry Pi (1, Zero, Zero W) | raspberry-pi | rpi |

[2020-05-06 12:16] ajlennon commented on #30
They broke stuff by renaming things? Can they unbreak it then?

[2020-05-06 12:27] MatthewCroughan commented on #30
@ajlennon No, it never worked in the first place. They have just made it more silly. The only thing that matches up is X86.

`armv7hf` does note exist according to dockerhub, only `armv7`
`amd64` does exist according to the dockerhub, and this is what it is called in `%%BALENA_ARCH%%`

It has only ever worked for x86 images, as I've already discussed in #24

[2020-05-06 12:29] MatthewCroughan commented on #30
Reliance on %%BALENA_ARCH%% just hopes that they call it the same thing as the Docker Hub, which they don't, except in the case of `amd64`, so it's pointless. No doubt all of their CI relies on this, so we can't ask them to change it.

[2020-05-06 12:29] ajlennon commented on #30
I'm pretty sure when I created the Dockerfiles this worked on arm?

[2020-05-06 12:29] MatthewCroughan commented on #30
No they did not. It failed live during my talk, if you remember?

[2020-05-06 12:31] MatthewCroughan commented on #30
The reason it failed during my talk on Balena at DoES is because the manifest `armv7hf` doesn't exist, because Balena call `armv7` `armv7hf`. Which isn't what official Docker uses to describe their multi-arch image manifests.

[2020-05-06 12:32] ajlennon commented on #30
Yeah but when I created the Dockerfiles it did work as I recall, which was a while before your talk?

[2020-05-06 12:36] MatthewCroughan commented on #30
Yes, but we've changed through many PRs since then, I wrote at length about *why* here. #8

This doesn't change the problem introduced by relying on %%BALENA_ARCH%%, we need to hardcode the platform, unless we base ourselves on Balena OS platform dependant images.

If we do, not only does that mean we can't support both Docker *and* Balena independantly, but it also means that we have a crap ton m

[2020-05-06 12:43] MatthewCroughan commented on #30
I've asked a lot of people in the Docker Freenode IRC whether it's possible to change the `FROM` directive based on `ENV` or `ARG` and it seems that is not possible at all. Because Balena itself is an outdated version of Moby, the Docker Container framework, it does not support image manifests, again as I have already cross-referenced in the few issues that are in this repository countless times a

[2020-05-27 22:26] MatthewCroughan commented on #24
The `.template` will benefit from the use of these variables, though this limits us as we can no longer support arm devices via this template, only things that by chance happen to match up with the docker hub, such as `amd64` or `arm64`. Raspberry Pi's are unaffected so long as we use their template extension, e.g `.raspberrypi3`, so this isn't too concerning. Though it is a bit annoying that Bale

[2020-11-26 10:06] MatthewCroughan commented on #14
There's no other solution. We need to map /var/lib/grafana, otherwise every time the container restarts we'll lose that DB, however I think my previous comments about being unable to manage other parts of the app are false, since I tried making the DB persistent, and changing `GF_AUTH_ANONYMOUS_ENABLED=true` to `false`, applying that change, and that seemed to work.

[2020-11-26 10:13] #14 closed

[2020-11-26 10:14] #22 closed

[2022-10-31 09:16] wb441 opened #34 "Networking question"
Hi,

This is actually a question on networking in a docker environment, so don't hesitate to tell me if I should post this somewhere else :)

I deployed the MING stack to a Balena fleet of 1 device.
I added another application, Zigbee2mqtt.
This application can't seem to reach the Mosquitto container.

Now, I tried to find out more how the networking works in this implementation.
I read about host

[2022-10-31 09:41] ajlennon commented on #34
Hi there,

Excellent questions. Yes so in essence you can tell the container to use "host networking" which as far as I can tell means container and host networking are then the same thing.

The alternative is to EXPOSE an internal port inside the container as an exernal port on the host (which don't have to be the same thing)

Now we do this in the `docker-compose.xml` file [here](https://github.

[2022-10-31 10:13] wb441 commented on #34
Thank you for your reply.
From what I read, with host networking, port exposing definitions are ignored, therefore, I assumed the docker implementation would create a default bridge giving each container an IP address on the default bridge. Is this the case?

With regards to exposing ports/listening on 1883, I left the original configuration as is in the docker-compose.yml:
`version: '2'
volumes:

[2022-10-31 10:18] ajlennon commented on #34
I think you may need to be using `127.0.0.1:1883` say, which would maybe mean that if you are testing this from another board then it wouldn't work?

[2022-10-31 18:50] wb441 commented on #34
Apparently, what is in there resolves to that, but isn't reachable:

`Zigbee2MQTT:error 2022-10-31 19:42:22: MQTT failed to connect: connect ECONNREFUSED 127.0.0.1:1883`

Mosquitto seems to be listening on 1883:

[code]

I can connect to the broker with a client (MQTT.fx) from another device.

[2022-10-31 20:20] wb441 commented on #34
I added `network_mode: host` to the definition of zigbee2mqtt in the docker-compose.yml, pushed it to the fleet and now it works... Your hunch was right!

[2022-10-31 20:20] #34 closed

[2022-10-31 21:31] wb441 commented on #34
Further comment for anyone who might stumble onto this.
Upon creating the zigbee2mqtt container, balena does some funny things to the mapped volumes:

1. It prefixes a number to the directory name. In my case: `/var/lib/docker/volumes/1947843_z2m-data`
2. The subfolder `data `is now changed to `_data`

The configuration.yaml file lives inside this subfolder.
![image](https://user-images.githubuser